<div class="span2">
</div>
<div class="span10">
  <div class="module">
    <div class="module-head">
      <h3>Profile: <%= @staff.last_name << ", " << @staff.first_name << " " << @staff.middle_name %></h3>


    </div>

  </div>

</div>
