
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span2">
        <div class="sidebar">
          <%= render "admin/main_admin_menu"%>
        </div>
      </div>
      <%= render "staffs/more_form" %>
    </div>
  </div>
</div>



