
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span2">
        <div class="sidebar">
          <%= render "staffs/main_staff_menu"%>
        </div>
      </div>
      <div class="span1">
      </div>
      <%= render "staffs/form" %>
    </div>
  </div>
</div>



