
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span2">
        <div class="sidebar">
          <%= render "staffs/main_staff_menu"%>
        </div>
      </div>
      <div class="span6">
        <div class="content">

          <div class="module">
            <div class="module-head">
              <h2>
                Task Completed
              </h2>
            </div>


            <div class="module-body ">
              <ul><%= @staff.last_name << ", " << @staff.first_name << " " << @staff.middle_name %>
                <p>You have completed Personal record successfully.</p>
                <p> You may no do the following </p>
                <li>Click Edit to make changes</li>
                <li>Click Continue to fill your Academic data</li>
              </ul>
              <div class="module-option clearfix">

                <%= link_to 'Edit', [:edit, @staff], class: "btn btn-primary" %>|
                <%= link_to 'Continue', new_user_staff_academic_path(@staff), class: "btn btn-primary" %>

              </div> <!-- clearfix-->


            </div>

    </div>
  </div>
</div>

    </div>
  </div>
</div>