<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span2">
        <div class="sidebar">
          <%= render "admin/main_admin_menu" %>
        </div>
      </div>
      <div class="span1">
      </div>
      <%= render "set_sections/form" %>
    </div>
  </div>
</div>