<div class="span9">
  <ul>
    <div class="btn-controls">
      <div class="btn-box-row row-fluid">
        <a href="#" class="btn-box big span4"><i class="icon-user"></i><b><%= pluralize(250, "Phd") %></b>
          <p class="text-muted">Degrees</p>
        </a>
        <a href="#" class="btn-box big span4"><i class="icon-user"></i><b><%= pluralize(650, "Training") %></b>
          <p class="text-muted"> Required</p>
        </a>
        <a href="#" class="btn-box big span4"><i class="icon-user"></i><b><%= pluralize(4300, "Researcher") %></b>
          <p class="text-muted"> Registered</p>
        </a>
        <a href="#" class="btn-box big span4"><i class="icon-user"></i><b><%= pluralize(1300, "User") %></b>
          <p class="text-muted">
            Registered</p>
        </a>

      </div>
    </div>
  </ul>
</div>
<!--/.content-->
